<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256029904239-tp4sjc91ukltvvu03qhhjvdn9qma2ajv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256029904239-tp4sjc91ukltvvu03qhhjvdn9qma2ajv</string>
	<key>API_KEY</key>
	<string>AIzaSyAXZ1QFkU_qXGxXJWV_iFRjZQ_uhoBgBPU</string>
	<key>GCM_SENDER_ID</key>
	<string>256029904239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.testfirebase</string>
	<key>PROJECT_ID</key>
	<string>testfirebase-79503</string>
	<key>STORAGE_BUCKET</key>
	<string>testfirebase-79503.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256029904239:ios:1c0221cbada5b8b4f8ec9a</string>
</dict>
</plist>