<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313200665745-93vmqp7s5id5hkakm7mieu8c78sd8msf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313200665745-93vmqp7s5id5hkakm7mieu8c78sd8msf</string>
	<key>API_KEY</key>
	<string>AIzaSyBCaL-0qz4Rju8qQwY0PGAeqZYZIznKGGw</string>
	<key>GCM_SENDER_ID</key>
	<string>313200665745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.socialmediaapp</string>
	<key>PROJECT_ID</key>
	<string>socialmediaapp-728ab</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaapp-728ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313200665745:ios:8194c6d7c6972ed2a40b30</string>
</dict>
</plist>